@media print
    .navbar
        display: none

    .sidebar
        display: none

    .custom-block, pre, blockquote
        page-break-inside: avoid

    h1:first-of-type
        margin-top: -2.5em !important